.checkout {
  form {
    text-align: center;
    margin: 0 auto;
    width: 500px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;

    h1 {
      margin-bottom: 0;
    }

    input {
      width: 100%;
      padding: 5px;
    }

    input[type=submit] {
      background: green;
      color: white;

      &:hover {
        cursor: pointer;
      }
    }
  }

  #thanksMessage {
    margin-top: 50px;
    text-align: center;
    display: none;
  }

}

