.cartWidget {
  display: none;
  background: whitesmoke;
  padding: 5px;
  border-radius: 50%;

  &.show {
    display: block;
  }

  span{
    padding: 5px;
    background: yellow;
    border-radius:10px;
    text-decoration: none;
  }

}


