.productsCounter {
  div {
    &:first-child {
      padding: 20px 0;
      display: flex;
      justify-content: center;

      p {
        font-size: 20px;
      }

    }
  }

  button {
    margin: 0 50px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;

    &.btnIncrease {
      background-color: darkgrey;

      &:hover {
        background-color: #f44336;
      }
    }

    &.btnDecrease {
      background-color: darkgrey;

      &:hover {
        background-color: #4CAF50;
      }

    }

    &.addCart {
      margin-top: 20px;
      background-color: darkgrey;

      &:hover {
        color: white;
        background-color: #282783;
      }
    }
  }
}



