.item {
  margin: 10px;
  padding: 10px;
  background: white;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);

  &:hover {
    background: whitesmoke;
  }

  h2 {
    color: black;
    font-size: 18px;
    margin-top: 32px;
  }

  h4, p {
    color: darkblue;
  }

  a {
    color: black;
    text-decoration: none;

    &:visited {
      color: black;
      text-decoration: none;
    }
  }
}

