.myMenu {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background: lightgrey;

  h1 {
    margin: 0;
  }

  .nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

    li {
      padding: 10px;

      a {
        text-decoration: none;
        padding: 10px;
        color: white;
        background: black;
        border-radius: 20px;

        &:hover {
          color: yellow;
        }
      }
    }
  }

  img {
    max-width: 30px;
  }

}



